/* ------------------------- HTML, BODY, WRAPPERS -------------------------*/
@font-face {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;

  src: url("gilroyextrabold.woff");
}

@font-face {
  font-family: "Gilroy", sans-serif;
  font-weight: lighter;

  src: url("gilroylight.woff");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: light;
  line-height: 30px;

  letter-spacing: 0.1px;
  text-transform: none;

  color: #000;
  background: #fff;
}

h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 48px;

  position: relative;

  letter-spacing: 0.5px;

  color: #000;
}

h2::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  content: "";

  background: #000;
}

.content-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  /* background: gray; */
}

.btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  position: relative;
  z-index: 1;

  padding: 11px 10px;

  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;

  color: #000;
  background: transparent;

  align-self: flex-start;

  cursor: pointer;
}

.btn::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  transition: transform 0.5s;
  transform: scale3d(1, 0.2, 1);
  transform-origin: center;

  background: #f0c52e;
}

.btn:hover::before {
  transition: transform 0.5s;
  transform: scale3d(1, 1, 1);
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ------------------------- HEADER -------------------------*/

/* .main-header {
   background: #f7e296;

   min-height: 300px;
} */

.main-logo {
  position: relative;

  padding: 20px 60px;
}

.main-logo img {
  position: absolute;
  bottom: -16px;
  left: 60px;
}

.main-logo a:hover {
  opacity: 0.6;
}

.main-logo a:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  flex-direction: column;

  padding: 0 60px;
  padding-bottom: 160px;

  background: rgba(247, 226, 150, 0.5);

  justify-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.inner-page {
  padding-bottom: 48px;
}

.menu-block {
  display: flex;

  padding-top: 35px;
  padding-bottom: 26px;

  justify-content: space-between;
  align-items: baseline;
}

.menu-block a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  padding-left: 27px;

  text-decoration: none;
  text-transform: inherit;

  color: #000;
}

.menu-block a:hover,
.menu-block a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.menu-block a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu-block a:hover::before,
.menu-block a:focus::before {
  opacity: 0.6;
}

.menu-block a:active::before {
  opacity: 0.3;
}

.search-form {
  position: relative;

  display: flex;

  height: 48px;
  margin-right: 100px;

  justify-content: space-between;
  flex-basis: 440px;
}

.search-form input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: light;
  line-height: 30px;

  margin: 0;
  padding: 0;
  padding-right: 10px;
  padding-left: 39px;

  letter-spacing: 0.1px;

  color: #000;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  box-shadow: none;

  flex-grow: 1;
}

.search-form label {
  display: inline-block;

  vertical-align: middle;
}

.search-form label::before {
  position: absolute;
  top: 16px;
  left: 3px;

  width: 16px;
  height: 16px;

  content: "";

  background: url("../img/search.png");
}

.search-form input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: light;
  line-height: 30px;

  letter-spacing: 0.1px;

  color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form .search-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: light;
  line-height: 30px;

  display: inline-block;
  visibility: hidden;

  width: 85px;
  height: 48px;
  padding: 0 10px;

  transition: visibility 0s, opacity 0.5s ease;
  letter-spacing: 0.1px;

  opacity: 0;
  border: 2px solid black;
  background: transparent;
}

.search-form input:focus {
  transition: border-bottom 0.5s linear 0s;

  border-bottom: 2px solid black;
}

.search-form input:focus ~ .search-btn {
  visibility: visible;

  opacity: 1;
}

.search-form .search-btn:hover {
  transition: 0.5s background ease 0s, 0.5s color ease 0s;

  color: #fff;
  background: #000;
}

.search-form .search-btn:active,
.search-form .search-btn:focus {
  visibility: visible;

  transition: none;

  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
  background: #000;
}

.user-block {
  position: relative;

  display: flex;

  margin-right: 180px;

  flex-basis: 100px;
}

.user-cart {
  position: relative;

  display: flex;

  justify-content: space-between;
  flex-basis: 220px;
}

.login::before {
  position: absolute;
  top: 9px;
  left: 0;

  width: 13px;
  height: 12px;

  content: "";

  background: url("../img/user.png");
}

.compare::before {
  position: absolute;
  top: 11px;
  left: 7px;

  width: 10px;
  height: 10px;

  content: "";

  background: url("../img/compare.png");
}

.cart::before {
  position: absolute;
  top: 9px;
  left: 137px;

  width: 12px;
  height: 12px;

  content: "";

  background: url("../img/cart.png");
}

.navigation-block {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  flex-basis: 100%;
}

.catalog-menu {
  position: relative;

  display: flex;

  margin-right: 240px;

  align-items: baseline;
  flex-basis: 300px;
}

.catalog-menu a::after {
  position: absolute;
  top: 5px;
  right: 54px;

  width: 16px;
  height: 16px;

  content: "";

  background: url("../img/plus.png");
}

.delivery {
  display: flex;

  margin-right: 0;

  align-items: baseline;
  flex-basis: 159px;
}

.garantee {
  display: flex;

  margin-right: 80px;

  align-items: baseline;
  flex-basis: 140px;
}

.navigation-block a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;

  color: #000;
}

.navigation-block a:hover,
.navigation-block a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-block a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
}

.slider input[type="radio"] {
  position: absolute;

  opacity: 0;
}

.slider-controls {
  position: absolute;
  z-index: 1000;
  right: 52px;
  bottom: 253px;

  width: 140px;
  height: 12px;

  text-align: center;
}

.slider-controls label {
  font-size: 0;

  position: relative;

  display: inline-block;

  width: 10px;
  height: 10px;
  margin: 0;
  margin: 0 8.5px;

  cursor: pointer;
  vertical-align: top;

  border: 1px solid black;
  border-radius: 50%;
}

.slider-controls label::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;
  margin-top: -3px;
  margin-left: -3px;

  content: "";

  border: none;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::before {
  border: 1px solid black;
  border-radius: 50%;
}

.slides {
  position: relative;

  display: block;

  margin-top: -112px;
  padding-bottom: 94px;
}

.slide {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  flex-basis: 100%;
}

.slide-content-right {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: 38px;
  padding-right: 40px;
  padding-bottom: 20px;

  flex-basis: 520px;
}

.slide-content-right .slide-number {
  position: absolute;
  top: 10px;
  right: 0;
}

.slide-content-right .slide-heading {
  font-size: 47px;
  line-height: 56px;

  position: relative;

  width: 100%;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  padding-top: 42px;
}

.slide-content-right h2::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 7px;

  content: "";

  background: #fff;
}

.slide-content-right p {
  width: 480px;
  margin: 0;
  margin-bottom: 40px;
}

.slide-content-right .btn {
  width: 200px;
  margin-bottom: 47px;
}

.slide-content-right .parameters {
  display: flex;
  flex-direction: row;
  /* flex-basis: 100%; */

  margin: 0;
  padding: 0;

  flex-wrap: wrap;
  justify-content: flex-start;
}

.slide-content-right .parameter {
  display: flex;
  flex-direction: column;
}

.slide-content-right .parameter:nth-child(1),
.slide-content-right .parameter:nth-child(3) {
  flex-basis: 160px;
}

.slide-content-right .parameter:nth-child(2) {
  flex-basis: 138px;
}

.slide-content-right span {
  margin: 0;
  padding: 0;
}

.slide-content-right .parameter-value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: lighter;
  line-height: 48px;

  margin-bottom: 7px;

  letter-spacing: normal;

  color: #000;
}

.slide-content-right .parameter-name {
  font-family: inherit;
  font-size: 13px;
  line-height: 20px;

  letter-spacing: 0.1px;
}

.slide:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 90px 0;
}

.slide:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 115px 12px;
}

.slide:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 30px 66px;
}

.slide:nth-child(1) .slide-content-right {
  background-image: url("../img/number-1.png");
  background-repeat: no-repeat;
  background-position: top 10px right 60px;
}

.slide:nth-child(2) .slide-content-right {
  background-image: url("../img/number-2.png");
  background-repeat: no-repeat;
  background-position: top 10px right 54px;
}

.slide:nth-child(3) .slide-content-right {
  background-image: url("../img/number-3.png");
  background-repeat: no-repeat;
  background-position: top 10px right 54px;
}

.slides .slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: flex;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: flex;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: flex;
}

/* ------------------------- MAIN -------------------------*/
.popular-block {
  display: flex;

  justify-content: space-between;
  /* width: 160px; */
  /* margin-bottom: 185px; */
}

.popular-block article {
  margin-right: 40px;

  /* background: navy; */
}

.popular-block:last-child {
  margin-right: 0;
}

.popular-block a {
  display: flex;

  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background: rgba(247, 226, 150, 0.5);

  justify-content: center;
}

.popular-block a:hover {
  background: #f0c52e;
}

.popular-block a:active img {
  opacity: 0.3;
}

.popular-block a:active + p {
  color: rgba(0, 0, 0, 0.3);
}

.popular-block img {
  align-self: center;
}

.popular-block p {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  width: 160px;
}

.services-block {
  position: relative;

  min-height: 388px;
  padding-top: 63px;
}

.services-block::before {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 288px;

  content: "";

  background: #e5e5e5;
}

.services-block-slider {
  position: relative;

  display: flex;
  flex-direction: row;

  align-items: stretch;
}

.services-block-slider input[type="radio"] {
  position: absolute;

  opacity: 0;
}

.services-block-slider .services-slider-controls {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 280px;
  margin-right: 120px;
  padding-top: 77px;
  padding-bottom: 50px;
}

.services-block-slider .services-slider-controls::after {
  position: absolute;
  right: -4px;
  bottom: 0;

  width: 7px;
  height: 100%;

  content: "";

  background: #000;
}

.services-block-slider .btn {
  width: 140px;
  margin-bottom: 18px;

  letter-spacing: 3.6px;
}

#s-btn-1:checked ~ .services-slider-controls label[for="s-btn-1"],
#s-btn-2:checked ~ .services-slider-controls label[for="s-btn-2"],
#s-btn-3:checked ~ .services-slider-controls label[for="s-btn-3"] {
  color: #f7e184;
}

#s-btn-1:checked ~ .services-slider-controls label[for="s-btn-1"]::before,
#s-btn-2:checked ~ .services-slider-controls label[for="s-btn-2"]::before,
#s-btn-3:checked ~ .services-slider-controls label[for="s-btn-3"]::before {
  width: 280px;

  transform: scale3d(1, 1, 1);

  background: #000;
}

.services-block-slider .services-slides {
  position: relative;
}

.services-block-slider .services-slide {
  position: absolute;
  top: 73px;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 700px;
  padding-bottom: 50px;

  align-items: stretch;
}

.services-block-slider .services-slide:nth-child(1) {
  background: url("../img/delivery.png") top 12px right 6px no-repeat;
}

.services-block-slider .services-slide:nth-child(2) {
  background: url("../img/warranty.png") top 12px right 6px no-repeat;
}

.services-block-slider .services-slide:nth-child(3) {
  background: url("../img/credit.png") top 12px right 6px no-repeat;
}

.services-block-slider h2 {
  margin: 0;
  margin-bottom: 16px;
}

.services-block-slider h2::before {
  display: none;
}

.services-block-slider p {
  width: 430px;
}

.services-block-slider .services-slides .services-slide {
  display: none;
}

#s-btn-1:checked ~ .services-slides .services-slide:nth-child(1) {
  display: flex;
}

#s-btn-2:checked ~ .services-slides .services-slide:nth-child(2) {
  display: flex;
}

#s-btn-3:checked ~ .services-slides .services-slide:nth-child(3) {
  display: flex;
}

.logotypes-block {
  background: #fff;
}

.logotypes-block ul {
  display: flex;

  margin: 0;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 85px;

  list-style: none;

  justify-content: space-between;
}

.logotypes-block li {
  align-self: center;
}

.logotypes-block a {
  opacity: 0.2;

  filter: grayscale(100%);
}

.logotypes-block a:hover {
  opacity: 1;

  filter: grayscale(0%);
}

.info-block {
  display: flex;

  padding-bottom: 79px;

  justify-content: flex-start;
}

.info-block .about-us {
  display: flex;
  flex-direction: column;

  width: 475px;
  margin-right: 125px;

  justify-content: flex-start;
}

.info-block .contacts {
  display: flex;
  flex-direction: column;

  width: 560px;

  justify-content: flex-start;
}

.info-block h2 {
  font-size: 47px;
  line-height: 48px;

  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  padding-top: 52px;

  letter-spacing: normal;
}

.info-block p {
  margin: 0;
  margin-bottom: 30px;

  letter-spacing: normal;
}

.info-block ul {
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
  padding-top: 36px;

  list-style: none;
}

.info-block li {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;

  position: relative;

  padding-left: 35px;
}

.info-block li::before {
  position: absolute;
  top: 50%;
  left: 1px;

  width: 4px;
  height: 4px;
  margin-top: -3px;

  content: "";

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.info-block .btn {
  width: 240px;
}

.info-block .contacts p {
  margin-bottom: 40px;
}

.info-block .map {
  margin-bottom: 56px;
}

/* ------------------------- CATALOG -------------------------*/

.big-heading-block {
  margin: 0;
  padding: 0 60px;
  margin-bottom: 44px;
}

.big-heading-block h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 36px;
}
.big-heading-block h2::before {
  display: none;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-left: 0;
  padding-right: 35px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 16px;

  width: 3px;
  height: 3px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #000;
  border-right: 1px solid #000; 

  transform: rotate(45deg);
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs .current {
  color: #aba9a7;
}

.breadcrumbs .current::after {
  display: none;
}


main.content-wrapper {
  display: flex;
  justify-content: space-between;
}

main .filter {
  width: 328px;
  background: #efefef;
}




.filter .price-filter-heading {
  height: 47px;
  
  margin-bottom: 69px;
  padding-top: 23px;
  padding-left: 1px;

  background: #dbdbdb;
}

.filter p {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000;
  text-transform: uppercase;

}

.filter form {
  width: 200px;
  padding-left: 60px;
  /* padding-right: 68px; */
}

.filter .range-filter {
  margin-bottom: 34px;
  padding-top: 10px;
  border: none;
  border-top:2px solid #000;
}

.range-filter p,
.color-item-filter p,
.feature-item-filter p {
  padding: 0;
  margin-bottom: 35px;
  font-size: 18px;
  letter-spacing: normal;
  text-transform: none;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  margin-bottom: 8px;
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  height: 2px;
  background: #91c92f; 
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: -5px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0  2px 0 0 #ababab;
  background: #ababab;
}

.range-controls .max-toggle {
  left: 108px;
}

.price-controls {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
  width: 60px;
  padding-right: 8px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  border: none;
  background: transparent;
}

.color-item-filter {
  margin-bottom: 31px;
  padding-top: 9px;
  border-top: 2px solid #000;
}

.color-item-filter p {
  margin-bottom: 18px;
}

.color-item-filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}



.color-item-filter input {
  display: none;
}

.color-item-filter label {
  position: relative;
  padding-left: 40px;
  font-size: inherit;
  font-size: 14px;
  line-height: 40px;
  color: #000;

  cursor: pointer;
}


.color-item-filter input + label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -1px;

  width: 19px;
  height: 19px;
  border: 2px solid black;
  border-radius: 2px;
}

.color-item-filter input:checked + label::after {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 8px;

  width: 7px;
  height: 16px;

  border-right: 4px solid #000;
  border-bottom: 4px solid #000;

  transform: rotate(45deg);
}


.color-item-filter input + label:hover::before,
.color-item-filter input + label:hover::after {
  border-color: #5f5f5f;
}

.color-item-filter input + label:active::before,
.color-item-filter input + label:active::after {
  border-color: #000;
}

.color-item-filter .disabled {
  color: #a6a6a6;
  cursor: default;
}

.color-item-filter input:disabled + .disabled::before,
.color-item-filter input:disabled + .disabled:hover::before,
.color-item-filter input:disabled + .disabled::after,
.color-item-filter input:disabled + .disabled:hover::after {
  border-color: #b2b2b2;
}


.feature-item-filter {
  margin-bottom: 28px;
  padding-top: 10px;
  border-top: 2px solid #000;
}


.feature-item-filter input {
  display: none;
}

.feature-item-filter p {
  margin-bottom: 18px;
}

.feature-item-filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item-filter label {
  position: relative;
  padding-left: 40px;
  font-size: inherit;
  font-size: 14px;
  line-height: 40px;
  color: #000;

  cursor: pointer;
}

.feature-item-filter input + label::before {
  position: absolute;
  content:  "";
  top: -4px;
  left: -1px;

  width: 17px;
  height: 17px;

  border: 4px solid #000;
  border-radius: 50%;
}

.feature-item-filter input:checked + label::after {
  position: absolute;
  content:  "";
  top: 4px;
  left: 7px;

  width: 9px;
  height: 9px;

  background: #000;
  border-radius: 50%;
}

.feature-item-filter input + label:hover::before {
  border-color: #606060;
}

.feature-item-filter input + label:hover::after {
  background: #606060;
}

.feature-item-filter input + label:active::before {
  border-color: #000;
}

.feature-item-filter input + label:active::after {
  background: #000;
}

.feature-item-filter input:disabled + .disabled {
  color: #a6a6a6;
  cursor: default;
}

.feature-item-filter input:disabled +.disabled::before {
   border-color: #b2b2b2;
}

.feature-item-filter input:disabled +.disabled::after {
  background: #b2b2b2;
}


.filter .btn {
  width: 200px;
  border: none;
}






.catalog-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 832px;
}

.catalog-gallery .catalog-filter {
  display: flex;
  justify-content: flex-start;

  margin-bottom: 69px;
  padding-left: 74px;
  height: 70px;

  background: #ebebeb;
}

.catalog-filter p {
  align-self: center;
  width: 200px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000;
  text-transform: uppercase;
}

.catalog-filter ul {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-filter li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-filter .sort {
  width: 500px;
}

.catalog-filter .sort li {
  margin-right: 29px;
}


.catalog-filter .up-down li {
  margin-left: 16px;
}

.catalog-filter a {
  font-family: "Open Sans", "Arial, sans-serif";
  font-weight: lighter;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  text-decoration: none;
}

.catalog-filter a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-filter a:active {
  color: #000;
}

.catalog-filter .active {
  color: #000;
}




.catalog-gallery .catalog-item-previews {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.catalog-gallery .catalog-item {
  position: relative;
  width: 360px;
  margin: 0;
  margin-left: 40px;
  margin-bottom: 46px;
}

.catalog-item:hover .pop-up {
  opacity: 1;
}

.catalog-gallery .pop-up {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  opacity: 0;

  padding-top: 120px;
  padding-bottom: 0;

  width: 100%;
  height: 260px;

  background: rgba(238, 238, 238, 0.7);

  transition: 0.5s opacity linear 0s;

  cursor: pointer;
}

.pop-up .btn {
  align-self: center;
  width: 180px;
  border: none;
}

.pop-up .compare-btn {
  align-self: center;

  width: 180px;
  padding: 0 10px;

  font-family: "Open Sans", "Arial, sans-serif";
  font-weight: lighter;
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);

  background: transparent;
  border: none;

  transition: 0.5s color linear 0s;

  cursor: pointer;
}

.pop-up .compare-btn:hover {
  color: rgba(0, 0, 0, 1);
}

.pop-up .compare-btn:active,
.pop-up .compare-btn:focus {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item .item-new {
  position: absolute;
  top: 29px;
  right: 27px;

  width: 56px;
  height: 56px;
  font-size: 0;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.catalog-item .item-new::before {
  position: absolute;
  content: "NEW";

  top: 17px;
  left: 15px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-gallery img {
  display: block;
  margin-bottom: 32px;
}

.catalog-gallery .item-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-gallery .item-name {
  margin: 0;
  padding: 0;
  width: 260px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;

  vertical-align: top;

  background: grey;
}

.catalog-gallery .item-price {
  width: 100px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
  text-align: right;
  background: rgba(70, 70, 70, 0.4);
}

.catalog-gallery .pagination {
  display: flex;
  justify-content: space-between;
  height: 70px;

  margin: 0;
  padding: 0;
  margin-left: 71px;
  margin-top: -11px;
  margin-bottom: 77px;

  list-style: none;

  background-color: rgba(0, 0, 0, 0.08);
}

.pagination li,
.pagination li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination .pagination-list {
  display: flex;
  justify-content: space-between;

  width: 90px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list .pagination-item {
  padding-top: 3px;

  color: rgba(0, 0, 0, 0.3);
}

.pagination-list .active {
  color: #000;
}

.pagination a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;

  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.pagination-prev,
.pagination-next {
  width: 117px;
  height: 70px;
  padding: 0 10px;
}

.pagination-prev:hover,
.pagination-next:hover {
  background: #d9d9d9;
}

.pagination-prev:active,
.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ------------------------- FOOTER -------------------------*/

.main-footer {
  background: #464646;
}

.main-footer .footer-content {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-left {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: 65px;

  justify-content: flex-start;
  flex-basis: 360px;
}

.footer-content-left::after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 80px;
  height: 7px;

  content: "";

  background: #ffc600;
}

.footer-content-left .footer-logo {
  margin: 0;
  margin-bottom: 16px;
}

.footer-content-left a {
  font-size: 0;

  transition: 0.5s opacity ease 0s;

  opacity: 1;
}

.footer-content-left a:hover {
  transition: 0.5s opacity ease 0s;

  opacity: 0.6;
}

.footer-content-left a:active {
  transition: none;

  opacity: 0.3;
}

.footer-content-left p {
  margin: 0;
  margin-bottom: 84px;

  color: #fff;
}

.footer-content-center {
  display: flex;
  flex-direction: column;

  width: 430px;
  padding-top: 136px;
  padding-left: 10px;

  justify-content: flex-start;
}

.footer-content-center .footer-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation li {
  font-size: 0;
}

.footer-content-center .footer-navigation {
  display: flex;
  flex-direction: row;

  margin-bottom: 55px;

  justify-content: space-between;
}

.footer-navigation a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  transition: 0.5s opacity ease 0s;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;

  color: #fff;
}

.footer-navigation a:hover {
  opacity: 0.6;
}

.footer-navigation a:active {
  transition: none;

  opacity: 0.3;
}

.footer-content-center .footer-s {
  display: flex;
  flex-direction: row;

  width: 141px;
  margin: 0 auto;
  margin-bottom: 66px;
  padding: 0;
  padding-right: 10px;
  padding-left: 9px;

  justify-content: space-between;
}

.footer-s .s-btn {
  font-size: 0;

  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.footer-s .s-btn-q {
  background: url("../img/q.png");
}

.footer-s .s-btn-inst {
  background: url("../img/inst.png");
}

.footer-s .s-btn-twit {
  background: url("../img/twit.png");
}

.footer-s .s-btn:hover {
  opacity: 0.6;
}

.footer-s .s-btn:active {
  opacity: 0.15;
}

.footer-content-right {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  flex-basis: 360px;
}

.footer-content-right ul {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  list-style: none;
}

.footer-content-right .footer-user-block {
  display: flex;
  flex-direction: row;

  padding-top: 63px;

  justify-content: flex-end;
}

.footer-content-right li {
  display: flex;
  /* width: 100px; */

  margin-left: 39px;

  justify-content: flex-end;
}

.footer-content-right .footer-user-block:last-child {
  margin-left: 0;
}

.footer-content-right a {
  position: relative;

  text-decoration: none;

  color: rgba(255, 255, 255, 0.7);
}

.footer-content-right .login {
  padding-right: 5px;
  padding-left: 26px;
}

.footer-content-right .compare {
  padding-left: 20px;
}

.footer-content-right .login::before {
  position: absolute;
  top: 9px;
  left: 0;

  width: 13px;
  height: 12px;

  content: "";

  background: url("../img/user-yellow.png");
}

.footer-content-right .cart {
  padding-left: 24px;
}

.footer-content-right .compare::before {
  position: absolute;
  top: 11px;
  left: 0;

  width: 10px;
  height: 10px;

  content: "";

  background: url("../img/compare-yellow.png");
}

.footer-content-right .cart::before {
  position: absolute;
  top: 9px;
  left: 2px;

  width: 12px;
  height: 12px;

  content: "";

  background: url("../img/cart-yellow.png");
}

.footer-content-right a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-content-right a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-content-right .login:hover::before,
.footer-content-right .compare:hover::before,
.footer-content-right .cart:hover::before {
  opacity: 0.6;
}

.footer-content-right .login:active::before,
.footer-content-right .compare:active::before,
.footer-content-right .cart:active::before {
  opacity: 0.3;
}

.footer-content-right p {
  margin: 0;
  margin-bottom: 62px;

  text-align: right;

  color: #fff;
}

.footer-content-right .mini-logo {
  text-align: right;
}

.footer-content-right .mini-logo:hover {
  opacity: 0.6;
}

.footer-content-right .mini-logo:active {
  opacity: 0.3;
}

/*----------------------- POP-UP BLCOKS ------------------------------- */

.pop-up-block {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 760px;
  min-height: 400px;
  margin: 0;
  margin-left: -480px;
  padding: 0;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;

  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.pop-up-block.closed {
  display: none;
}

.pop-up-block form {
  display: flex;
  flex-direction: row;

  background: rgba(247, 226, 150, 0.5);

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pop-up-block .left-input {
  display: flex;
  flex-direction: column;

  width: 360px;
  margin-right: 40px;
  margin-bottom: 36px;
}

.pop-up-block .right-input {
  display: flex;
  flex-direction: column;

  width: 360px;
  margin-bottom: 36px;
}

.pop-up-block label:last-child {
  margin-right: 0;
}

.pop-up-block .center {
  display: flex;
  flex-direction: column;

  margin-bottom: 36px;
}

.pop-up-block .center label {
  width: 760px;
}

.pop-up-block label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  margin-bottom: 10px;

  color: #000;
}

.pop-up-block input,
.pop-up-block textarea {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  vertical-align: top;

  color: #464646;
  border: none;
  background: #f2f2f2;
}

.pop-up-block input {
  height: 50px;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  padding-left: 21px;
}

.popular-block textarea {
  padding-top: 10px;
  padding-right: 21px;
}

.pop-up-block input::placeholder,
.pop-up-block textarea::placeholder {
  font-size: 14px;
  line-height: 18px;

  vertical-align: top;

  color: rgba(70, 70, 70, 0.4);
}

.pop-up-block .btn {
  width: 180px;
  border: none;
}
