   /* ------------------------- HTML, BODY, WRAPPERS -------------------------*/
@font-face {
   font-family: 'Gilroy', sans-serif;
   src: url('gilroyextrabold.woff');
   font-weight: bold;
}

@font-face {
   font-family: 'Gilroy', sans-serif;
   src: url('gilroylight.woff');
   font-weight: lighter;
}

html, body {
   margin: 0;
   padding: 0;
 
}

body {
   font-family: 'Open Sans','Arial',sans-serif;
   font-weight: light;
   font-size: 15px;
   line-height: 30px;
   letter-spacing: 0.1px;
   text-transform: none;
   
   color: #000;
   background: #fff;
}

h2 {
   position: relative;
   font-family: 'Gilroy', 'Arial',sans-serif;
   font-weight: bold;
   font-size: 47px;
   line-height: 48px;
   letter-spacing: 0.5px;
   color: #000;
}

h2::before {
   content: "";
   
   position: absolute;
   top: 0;
   left: 0;

   width: 80px;
   height: 7px;

   background: #000;
}


.site-wrapper {
   position: relative;
   max-width: 1400px;
   margin: 0 auto;
}

.content-wrapper {
   width: 1160px;
   margin: 0 auto;
   padding-left: 20px;
   padding-right: 20px;

   /* background: gray; */
}

.btn {
   position: relative;

   align-self: flex-start;

   padding: 11px 10px;

   font-family: 'Gilroy', 'Arial',sans-serif;
   font-weight: bold;
   font-size: 18px;
   line-height: 24px;
   letter-spacing: 3.5px;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   vertical-align: middle;

   color: #000;
   background: transparent;

   z-index: 1;

}

.btn::before {
   position: absolute;
   content: "";
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;

   background: #f0c52e;
   z-index: -1;

   transform-origin: center;
   transform: scale3d(1,0.2,1);
   transition: transform 0.5s;

}

.btn:hover::before {
   transform: scale3d(1,1,1);
   transition: transform 0.5s;
}

.btn:active {
   color: rgba(0, 0, 0, 0.3);
}



/* ------------------------- HEADER -------------------------*/

/* .main-header {
   background: #f7e296;

   min-height: 300px;
} */

.main-logo {
   position: relative;

   padding: 20px 60px;
}

.main-logo img {
   position: absolute;
   bottom: -16px;
   left: 60px;
}

.main-logo a:hover {
   opacity: 0.6;
}

.main-logo a:active {
   opacity: 0.3;
}

.main-navigation {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   flex-wrap: wrap;

   flex-basis: 100%;

   padding: 0 60px;
   padding-bottom: 160px;

   background: rgba(247,226,150,0.5);
}

.menu-block {
   display: flex;
   justify-content: space-between;
   align-items: baseline;

   padding-top: 35px;
   padding-bottom: 26px;
}

.menu-block a {
   padding-left: 27px;

   font-family: inherit;
   font-weight: inherit;
   font-size: inherit;
   line-height: inherit;

   color: #000;
   text-transform: inherit;
   text-decoration: none;

}

.menu-block a:hover,
.menu-block a:focus {
   color: rgba(0, 0, 0, 0.6);
}

.menu-block a:active {
   color: rgba(0, 0, 0, 0.3);
}

.menu-block a:hover::before,
.menu-block a:focus::before {
   opacity: 0.6;
}

.menu-block a:active::before {
   opacity: 0.3;
}


.search-form {
   position: relative;

   display: flex;
   justify-content: space-between;
   flex-basis: 440px;
   height: 48px;

   margin-right: 100px;

}


.search-form input {
   flex-grow: 1;

   margin: 0;
   padding: 0;
   padding-left: 39px;
   padding-right: 10px;

   font-family: 'Open Sans','Arial',sans-serif;;
   font-weight: light;   
   font-size: 15px;
   line-height: 30px;
   letter-spacing: 0.1px;

   color: #000;
   border: none;
   border-bottom: 2px solid transparent;
   box-shadow: none;
   background: none;
}

.search-form label {
   display: inline-block;
   vertical-align: middle;

}

.search-form label::before {
   content: "";
   
   position: absolute;
   top: 16px;
   left: 3px;

   width: 16px;
   height: 16px;

   background: url("../img/search.png");
}

.search-form input::placeholder {
   font-family: 'Open Sans','Arial',sans-serif;;
   font-weight: light;   
   font-size: 15px;
   line-height: 30px;
   letter-spacing: 0.1px;

   color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::placeholder {
   color: rgba(0, 0, 0, 0.6);
}

.search-form .search-btn {
   display: inline-block;
   padding: 0 10px;

   width: 85px;
   height: 48px;

   visibility: hidden;
   opacity: 0;

   font-family: 'Open Sans','Arial',sans-serif;;
   font-weight: light;   
   font-size: 15px;
   line-height: 30px;
   letter-spacing: 0.1px;

   background: transparent;
   border: 2px solid black;

   transition: visibility 0s, opacity 0.5s ease;
}

.search-form input:focus {
   border-bottom: 2px solid black;
   transition: border-bottom 0.5s linear 0s; 

}

.search-form input:focus ~ .search-btn {
   visibility: visible;
   opacity: 1;
}


.search-form .search-btn:hover {
   color: #fff;
   background: #000;
   
   transition:  0.5s background  ease 0s,
                0.5s color ease 0s;
}

.search-form .search-btn:active,
.search-form .search-btn:focus{
   visibility: visible;
   opacity: 1;
   background: #000;
   color: rgba(255, 255, 255, 0.3);
   transition:  none;
}


.user-block {
   position: relative;

   display: flex;
   flex-basis: 100px;
   margin-right: 180px;
}

.user-cart {
   position: relative;
   display: flex;
   justify-content: space-between;
   flex-basis: 220px;
}

.login::before {
   content: "";
   position: absolute;
   top: 9px;
   left: 0;

   width: 13px;
   height: 12px;

   background: url("../img/user.png");
}


.compare::before {
   content: "";
   position: absolute;
   top: 11px;
   left: 7px;

   width: 10px;
   height: 10px;
   
   background: url("../img/compare.png");
}

.cart::before {
   content: "";
   position: absolute;
   top: 9px;
   left: 137px;

   width: 12px;
   height: 12px;
   
   background: url("../img/cart.png")
}



.navigation-block {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: baseline;
   flex-wrap: nowrap;
   flex-basis: 100%;

}

.catalog-menu {
   position: relative;

   display: flex;
   align-items: baseline;
   flex-basis: 300px;
   margin-right: 240px;
}

.catalog-menu a::after {
   position: absolute;
   content: "";
   top: 5px;
   right: 54px;

   width: 16px;
   height: 16px;

   background: url("../img/plus.png");
   

}

.delivery {
   display: flex;
   align-items: baseline;
   flex-basis: 159px;
   margin-right: 0;

}

.garantee {
   display: flex;
   align-items: baseline;
   flex-basis: 140px;
   margin-right: 80px;
}



.navigation-block a {
   font-family: 'Gilroy', 'Arial',sans-serif;
   font-weight: bold;
   font-size: 18px;
   line-height: 24px;
   letter-spacing: 3.5px;
   color: #000;
   text-transform: uppercase;
   text-decoration: none;
}

.navigation-block a:hover,
.navigation-block a:focus {
   color: rgba(0, 0, 0, 0.6);
}

.navigation-block a:active {
   color: rgba(0, 0, 0, 0.3);
}

.slider {
   position: relative;

}

.slider input[type="radio"] {
   position: absolute;
   opacity: 0;
}

.slider-controls {
   position: absolute;
   bottom: 253px;
   right: 52px;
   width: 140px;
   height: 12px;
   
   text-align: center;

   z-index: 1000;
}

.slider-controls label {
   position: relative;
   display: inline-block;
   width: 10px;
   height: 10px;
   margin: 0;
   margin: 0 8.5px;

   font-size: 0;

   vertical-align: top;

   border: 1px solid black;
   border-radius: 50%;
   cursor: pointer;
}

.slider-controls label::before {
   position: absolute;
   content: "";
   top: 50%;
   left: 50%;

   margin-top: -3px;
   margin-left: -3px;

   width: 4px;
   height: 4px;

   border: none
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::before {
   border: 1px solid black;
   border-radius: 50%;
}

.slides {
   position: relative;
   display: block;

   margin-top: -112px;
  
   padding-bottom: 94px;
}



.slide {
   position: relative;
   top: 0;
   left: 0;

   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   flex-basis: 100%;
}



.slide-content-right {
   position: relative;

   display: flex;
   flex-direction: column;
   flex-basis: 520px;
   
   padding-top: 38px;
   padding-bottom: 20px;
   padding-right: 40px;  


}

.slide-content-right .slide-number {
   position: absolute;
   top: 10px;
   right: 0;
}

.slide-content-right .slide-heading {
   position: relative;

   margin: 0;
   margin-bottom: 19px;
   padding: 0;
   padding-top: 42px;

   width: 100%;


   font-size: 47px;
   line-height: 56px;

}

.slide-content-right h2::before {
   content: "";
   
   position: absolute;
   top: 0;
   left: 0;

   width: 100px;
   height: 7px;

   background: #fff;
}

.slide-content-right p {
   margin: 0;
   margin-bottom: 40px;
   width: 480px;
}

.slide-content-right .btn {
   margin-bottom: 47px;
   width: 200px;

}

.slide-content-right .parameters {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   /* flex-basis: 100%; */
   margin: 0;
   padding: 0;
}

.slide-content-right .parameter {
   display: flex;
   flex-direction: column;
}

.slide-content-right .parameter:nth-child(1),
.slide-content-right .parameter:nth-child(3) {
   flex-basis: 160px;
}

.slide-content-right .parameter:nth-child(2) {
   flex-basis: 138px;
}



.slide-content-right span {
   margin: 0;
   padding: 0;
}

.slide-content-right .parameter-value {
   margin-bottom: 7px;
   font-family: 'Gilroy', 'Arial',sans-serif;
   font-weight: lighter;
   font-size: 36px;
   line-height: 48px;
   letter-spacing: normal;
   color: #000;
}

.slide-content-right .parameter-name {
   font-family: inherit;
   font-size: 13px;
   line-height: 20px;
   letter-spacing: 0.1px;

}

.slide:nth-child(1) {
   background-image: url('../img/slide-1.png');
   background-position: 90px 0px;
   background-repeat: no-repeat;
}

.slide:nth-child(2) {
   background-image: url('../img/slide-2.png');
   background-position: 115px 12px;
   background-repeat: no-repeat;

}

.slide:nth-child(3) {
   background-image: url('../img/slide-3.png');
   background-position: 30px 66px;
   background-repeat: no-repeat;
}

.slide:nth-child(1) .slide-content-right {
   background-image: url('../img/number-1.png');
   background-position: top 10px  right 60px;
   background-repeat: no-repeat;
}

.slide:nth-child(2) .slide-content-right {
   background-image: url('../img/number-2.png');
   background-position: top 10px  right 54px;
   background-repeat: no-repeat;
}

.slide:nth-child(3) .slide-content-right {
   background-image: url('../img/number-3.png');
   background-position: top 10px  right 54px;
   background-repeat: no-repeat;
}

.slide {
   display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
   display: flex;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
   display: flex;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
   display: flex;
}




/* ------------------------- MAIN -------------------------*/
.popular-block {
   display: flex;
   justify-content: space-between;
   /* width: 160px; */
   /* margin-bottom: 185px; */
}

.popular-block article {
   margin-right: 40px;

   /* background: navy; */
}

.popular-block:last-child {
   margin-right: 0;
}

.popular-block a {
   display: flex;
   justify-content: center;
   width: 160px;
   height: 160px;
   margin-bottom: 33px;

   background: rgba(247,226,150,0.5);
}

.popular-block a:hover {
   background: #f0c52e;
}

.popular-block a:active img{
   opacity: 0.3;
}

.popular-block a:active + p {
   color: rgba(0, 0, 0, 0.3);
}

.popular-block img {
   align-self: center;
}

.popular-block p {
   width: 160px;

   font-family: 'Gilroy', 'Arial',sans-serif;
   font-weight: bold;
   font-size: 18px;
   line-height: 24px;

}


.services-block {
   position: relative;

   padding-top: 63px;
   min-height: 388px;
}

.services-block::before {
   position: absolute;
   content: "";

   left: 0;
   bottom: 0;

   width: 100%;
   height: 288px;
   
   background: #e5e5e5;

   z-index: -1;
}


 .services-block-slider {
   position: relative;

   display: flex;
   flex-direction: row;
   align-items: stretch;
} 



.services-block-slider input[type="radio"] {
   position: absolute;
   opacity: 0;
}

.services-block-slider .services-slider-controls {
   position: relative;
   display: flex;
   flex-direction: column;

   width: 280px;

   margin-right: 120px;
   padding-top: 77px;
   padding-bottom: 50px;

}

.services-block-slider .services-slider-controls::after {
   position: absolute;
   content: "";
   bottom: 0;
   right: -4px;

   width: 7px;
   height: 100%;

   background: #000;

}



.services-block-slider .btn {
   margin-bottom: 18px;
   width: 140px;
   letter-spacing: 3.6px;
}




#s-btn-1:checked ~ .services-slider-controls label[for="s-btn-1"],
#s-btn-2:checked ~ .services-slider-controls label[for="s-btn-2"],
#s-btn-3:checked ~ .services-slider-controls label[for="s-btn-3"] {
   color: #f7e184;
}


#s-btn-1:checked ~ .services-slider-controls label[for="s-btn-1"]::before,
#s-btn-2:checked ~ .services-slider-controls label[for="s-btn-2"]::before,
#s-btn-3:checked ~ .services-slider-controls label[for="s-btn-3"]::before {
   width: 280px;

   background: #000;

   transform: scale3d(1,1,1);
}

.services-block-slider .services-slides {
   position: relative;


}


.services-block-slider .services-slide {
   position: absolute;
   top: 73px;
   left: 0;

   display: flex;
   flex-direction: column;
   align-items: stretch;

   padding-bottom: 50px;

   width: 700px;


   
}

.services-block-slider .services-slide:nth-child(1) {
   background: url("../img/delivery.png") top 12px right 6px no-repeat;
}

.services-block-slider .services-slide:nth-child(2) {
   background: url("../img/warranty.png") top 12px right 6px no-repeat;
}

.services-block-slider .services-slide:nth-child(3) {
   background: url("../img/credit.png") top 12px right 6px no-repeat;
}

.services-block-slider h2  {
   margin: 0;
   margin-bottom: 16px;

}

.services-block-slider h2::before {
   display: none;
}

.services-block-slider p {
   width: 430px;
}


.services-block-slider .services-slides .services-slide {
   display: none;
}

#s-btn-1:checked ~ .services-slides .services-slide:nth-child(1) {
   display: flex;
}

#s-btn-2:checked ~ .services-slides .services-slide:nth-child(2) {
   display: flex;
}

#s-btn-3:checked ~ .services-slides .services-slide:nth-child(3) {
   display: flex;
}



.logotypes-block {
   background: #fff;
   
}

.logotypes-block ul {
   display: flex;
   justify-content: space-between;

   margin: 0;
   padding: 0;
   padding-top: 94px;
   padding-bottom: 85px;

   list-style: none;
}

.logotypes-block li {
   align-self: center;
}

.logotypes-block a {
   filter: grayscale(100%);
   opacity: 0.2;
}

.logotypes-block a:hover {
   filter: grayscale(0%);
   opacity: 1;
}

.info-block {
   display: flex;
   justify-content: flex-start;
   padding-bottom: 79px;

}

.info-block .about-us {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

   margin-right: 125px;
   width: 475px;
}


.info-block .contacts {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 560px;
}

.info-block h2 {
   margin: 0;
   margin-bottom: 43px;
   padding: 0;
   padding-top: 52px;


   font-size: 47px;
   line-height: 48px;
   letter-spacing: normal;
}

.info-block p {
   margin: 0;
   margin-bottom: 30px;
   letter-spacing: normal;
}


.info-block ul {
   margin: 0;
   margin-bottom: 51px;
   padding: 0;
   padding-top: 36px;

   list-style: none;
}

.info-block li {
   position: relative;
   padding-left: 35px;

   font-family: 'Gilroy', Arial, sans-serif;
   font-weight: bold;
   font-size: 16px;
   line-height: 40px;
}

.info-block li::before {
   position: absolute;
   content: "";
   top: 50%;
   left: 1px;

   margin-top: -3px;
   
   width: 4px;
   height: 4px;

   border: 2px solid #e5e5e5; 
   border-radius: 50%;
}

.info-block .btn {
   width: 240px;
}

.info-block .contacts p {
   margin-bottom: 40px;
}

.info-block .map {
   margin-bottom: 56px;
}







/* ------------------------- FOOTER -------------------------*/

.main-footer {
   background: #464646;
}

.main-footer .footer-content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   
}

.footer-content-left {
   position: relative;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   
   flex-basis: 360px;
   padding-top: 65px;

}

.footer-content-left::after {
   position: absolute;
   content: "";
   bottom: 0;
   left: 0;

   width: 80px;
   height: 7px;

   background: #ffc600;
}

.footer-content-left .footer-logo {
   margin: 0;
   margin-bottom: 16px;
}

.footer-content-left a {
   font-size: 0;

   opacity: 1;
   transition: 0.5s opacity ease 0s;
}

.footer-content-left a:hover {
   opacity: 0.6;

   transition: 0.5s opacity ease 0s;
}

.footer-content-left a:active {
   opacity: 0.3;

   transition: none;
}

.footer-content-left p {
   margin: 0;
   margin-bottom: 84px;
   color: #fff;
}

.footer-content-center {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

   width: 430px;

   padding-top: 136px;
   padding-left: 10px;

}

.footer-content-center  .footer-navigation {
   margin: 0;
   padding: 0;

   list-style: none;
}

.footer-navigation  li {
   font-size: 0;
}


.footer-content-center .footer-navigation {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   margin-bottom: 55px;
}


.footer-navigation a {
   font-family: 'Gilroy', 'Arial',sans-serif;
   font-weight: bold;
   font-size: 18px;
   line-height: 24px;
   letter-spacing: 3.5px;
   color: #fff;

   text-transform: uppercase;
   text-decoration: none;

   transition: 0.5s opacity ease 0s;
}

.footer-navigation a:hover {
   opacity: 0.6; 
}

.footer-navigation a:active {
   opacity: 0.3;

   transition: none;
}

.footer-content-center .footer-s {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   

   width: 141px;

   margin: 0 auto;
   margin-bottom: 66px;
   padding: 0;
   padding-left: 9px;
   padding-right: 10px;


}


.footer-s .s-btn {
   width: 32px;
   height: 32px;

   font-size: 0;

   opacity: 0.3;
}

.footer-s .s-btn-q {
   background: url("../img/q.png");
}

.footer-s .s-btn-inst {
   background: url("../img/inst.png");
} 

.footer-s .s-btn-twit {
   background: url("../img/twit.png");
} 

.footer-s .s-btn:hover{
   opacity: 0.6;
}

.footer-s .s-btn:active {
   opacity: 0.15;
}


.footer-content-right {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   flex-basis: 360px;
}

.footer-content-right ul {
   margin: 0;
   margin-bottom: 37px;
   padding: 0;

   list-style: none;
}


.footer-content-right .footer-user-block {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding-top: 63px;
}

.footer-content-right li {
   display: flex;
   justify-content: flex-end;
   /* width: 100px; */
   margin-left: 39px;

}

.footer-content-right .footer-user-block:last-child {
   margin-left: 0;
   
}

.footer-content-right a {
   position: relative;

   color: rgba(255, 255, 255, 0.7);
   text-decoration: none;
}

.footer-content-right .login {
   padding-left: 26px;
   padding-right: 5px;
}

.footer-content-right .compare {
   padding-left: 20px; 
}

.footer-content-right .login::before {
   content: "";
   position: absolute;
   top: 9px;
   left: 0;

   width: 13px;
   height: 12px;

   background: url("../img/user-yellow.png");
}

.footer-content-right .cart {
   padding-left: 24px;
}


.footer-content-right .compare::before {
   content: "";
   position: absolute;
   top: 11px;
   left: 0px;

   width: 10px;
   height: 10px;
   
   background: url("../img/compare-yellow.png");
}

.footer-content-right .cart::before {
   content: "";
   position: absolute;
   top: 9px;
   left: 2px;

   width: 12px;
   height: 12px;
   
   background: url("../img/cart-yellow.png")
}

.footer-content-right a:hover {
   color: rgba(255, 255, 255, 1);
}

.footer-content-right a:active {
   color: rgba(255, 255, 255, 0.3)
}

.footer-content-right .login:hover::before,
.footer-content-right .compare:hover::before,
.footer-content-right .cart:hover::before {
   opacity: 0.6;
}

.footer-content-right .login:active::before,
.footer-content-right .compare:active::before,
.footer-content-right .cart:active::before {
   opacity: 0.3;
}



.footer-content-right p {
   margin: 0;
   margin-bottom: 62px;
   color: #fff;

   text-align: right;

}

.footer-content-right .mini-logo {
   text-align: right;
}

.footer-content-right .mini-logo:hover {
   opacity: 0.6;
}

.footer-content-right .mini-logo:active {
   opacity: 0.3;
}

/*----------------------- POP-UP BLCOKS ------------------------------- */

.pop-up-block  {
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;

   margin: 0;
   margin-left: -480px;
   width: 760px;

   padding: 0;
   padding-top: 100px;
   padding-bottom: 100px;
   padding-left: 100px;
   padding-right: 100px;

   min-height: 400px;

   background: #fff;
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.pop-up-block.closed {
   display: none;
} 

.pop-up-block form {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

   background: rgba(247,226,150,0.5);
}


.pop-up-block .left-input {
   display: flex;
   flex-direction: column;
   width: 360px;

   margin-right: 40px;
   margin-bottom: 36px;
}

.pop-up-block .right-input {
   display: flex;
   flex-direction: column;
   margin-bottom: 36px;
   width: 360px;

}

.pop-up-block label:last-child {
   margin-right: 0;
}

.pop-up-block .center {
   display: flex;
   flex-direction: column;

   margin-bottom: 36px;
}

.pop-up-block .center label {
   width: 760px;
}


.pop-up-block label {
   margin-bottom: 10px;

   font-family: 'Gilroy', 'Arial',sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 24px;
   color: #000;
}

.pop-up-block input, 
.pop-up-block textarea {
   font-family: inherit;
   font-size: 18px;
   line-height: 24px;
   vertical-align: top;

   color: #464646;
   background: #f2f2f2;
   border: none;
}

.pop-up-block input {
   margin: 0;
   padding: 0;
   padding-right: 10pxpx;
   padding-left: 21px;
   height: 50px;
}

.popular-block textarea {
   padding-right: 21px;
   padding-top: 10px;
}


.pop-up-block input::placeholder,
.pop-up-block textarea::placeholder {
   font-size: 14px;
   line-height: 18px;
   vertical-align: top;
   color: rgba(70, 70, 70, 0.4);
}


.pop-up-block .btn {
   width: 180px;
   border: none;
}